<div>
   <h1>Bienvenido al home</h1>
   <button id="logout">Desloguearse</button>
   {{!-- <a id="logout" method="POST" href="http://localhost:8080/logout">Desloguearse</a> --}}
</div>
<script src="/js/logout.js"></script>