<div>
{{> navbar}}
   <h1 class="s-padding">Un poco de nuestros productos</h1>

   <div class="cardsContainer">
      <div class="card">
         <img src="img/celularsamsung.PNG" alt="" class="card-image">
         <h5>Celular</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus inventore similique corrupti iure, quae, impedit tempore</p>
         <p>200 $</p>
         <button id="addToCart" class="add-cart-button xs-padding">Agregar Al Carrito</button>
      </div>
      <div class="card">
         <img src="img/auricular.PNG" alt="" class="card-image">
         <h5>Auriculares</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus inventore similique corrupti iure, quae, impedit tempore</p>
         <p>200 $</p>
         <button id="addToCart" class="add-cart-button xs-padding">Agregar Al Carrito</button>
      </div>
      <div class="card">
         <img src="img/parlante.PNG" alt="" class="card-image">
         <h5>Parlantes</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus inventore similique corrupti iure, quae, impedit tempore</p>
         <p>200 $</p>
         <button id="addToCart" class="add-cart-button xs-padding">Agregar Al Carrito</button>
      </div>
   </div>
</div>
<script src="/js/logout.js"></script>
<script src="/js/products.js"></script>