<div>
  {{> navbar}}


</div>
<div class="detailProductContainer">
  <img src="{{prodobj/image}}" alt="">
  <h1>{{prodobj/title}}</h1>
  <h2>Descripcion: {{prodobj/description}}</h2>
  <h2>Precio: ${{prodobj/price}}</h2>
</div>